contents {
  background-color: black;
  background: rgba(94, 94, 94, 0.5);
  width: 595px;
  height: 782px;
  margin-left: 5px;
  margin-bottom: 5px;
  float: left;
}
#conh { /* 콘텐츠 마진 */
  margin: 5px;
}
#mainh { /* 헤더 */
  background-color: rgb(55, 55, 55);
  color: white;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
table { /* 표  너비 */
  width: 100%;
}
#pyo { /* 표 마진 */
  margin: 5px;
}
thead { /* 표 헤드 색상 */
  background: #448AFF;
}
tbody { /* 표 텍스트 가운데 정렬*/
  text-align: center;
  background: #f5f5f5;
}

#ths { /* 날짜, 일정 색상 */
  background: #039be5;
}
#maint { /* 표제목 div */
  background-color: #3F51B5;
  color: white;
  padding-left: 10px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: -5px;
}
#banner585_200{
  display: block;
  width: 380px; height: 200px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  float: left;
  padding-right: 5px;
}
/* 배너 위치 및 크기 */
#banner585_200 > .banners{
  position:absolute;
  left: 0; top: 0;
  animation: banner 15s infinite;
}
#banner585_200 > .banners > img {
  display: block;
  float: left;
}

/* 배너 키프레임 */
@keyframes banner{
  0%{ left: 0px;}
  33%{ left: 0px;}
  34%{ left: -380px;}
  66%{ left: -380px;}
  67%{ left: -760px;}
  99%{ left: -760px;}
  100%{ left: 0px;}
}
