footer {
  background-color: gray;
  height: 70px;
  clear: both;
}

footer>img {/*푸터 로고*/
 width: 120px;
 float: left;
 padding-top: 1px;
}
#foo1 {/*푸터 검정글*/
 font-weight: bold;
 font-size: 13px;
 padding-top: 7px;
}
#foo2 {/*푸터 흰글*/
 font-size: 10px;
 color:white;
}
