#choosemap {/*글씨꾸미기와 백그라운드*/
  display: inline;
  background: linear-gradient(100deg,#A9D0F5,#F3F781);
  background-size: auto;
  font-size: 32px;
  margin-left: 80px;
}
#choosemg {/*글씨의 마진*/
  margin-top: 20px;
}
h2 {
  margin-left: 80px;
  background-color: rgb(55,55,55);
  color:White;
  display: inline;
}
#picture {/*지도사진의 마진*/
  margin-left:30px;
  margin-top: 30px;
}
#mapname {/*지도이름의마진*/
  margin-top: 20px;
}
